In [1]:
# This is the notebook for feature generation for the following features for each champion: Allies, Counters, Runes, Spells, Win Rate, Pick Rate, Perk
# DONE Allies = 3 champions that won the most games with this champion Straight forward 
# DONE Counters=3 champions that lost the most games against this champion Straight forward 
# DONE Runes = Top 2 most utilized runes with this champion
# DONE Spells= Given
# DONE Win Rate = Wins/Total y games for champion
# DONE Pick Rate = Picks games / All games

# DONE Difficulty = Given
# DONE Items = Final items are given (straight forward)
# DONE KDA = Kills + Assists / Deaths if Deaths = 0 (Normalize) and fill with 10 


import pandas as pd
import csv
import statistics

In [2]:
match_data = pd.read_csv('Matthew_data_2.csv')

C:\Users\Matth\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (74,75,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
match_data.head()

,Unnamed: 0,gameId,platformId_x,gameCreation,gameDuration,queueId,gameVersion,gameMode,gameType,teamId,...,goldPerMinDeltas.20-30,csDiffPerMinDeltas.30-end,csDiffPerMinDeltas.20-30,xpDiffPerMinDeltas.30-end,xpDiffPerMinDeltas.20-30,damageTakenPerMinDeltas.30-end,damageTakenPerMinDeltas.20-30,damageTakenDiffPerMinDeltas.30-end,damageTakenDiffPerMinDeltas.20-30,highestAchievedSeasonTier
0,0,3209574964,NA1,1574025845112,1701,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3209574964,NA1,1574025845112,1701,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3209574964,NA1,1574025845112,1701,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3209574964,NA1,1574025845112,1701,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3209574964,NA1,1574025845112,1701,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
match_data['championId_y'].head() # Picks
match_data['championId_x'].head() # Bans


champion_111 = match_data[(match_data['championId_y']==111)]

In [54]:
champion_111

,Unnamed: 0,gameId,platformId_x,gameCreation,gameDuration,queueId,gameVersion,gameMode,gameType,teamId,...,goldPerMinDeltas.20-30,csDiffPerMinDeltas.30-end,csDiffPerMinDeltas.20-30,xpDiffPerMinDeltas.30-end,xpDiffPerMinDeltas.20-30,damageTakenPerMinDeltas.30-end,damageTakenPerMinDeltas.20-30,damageTakenDiffPerMinDeltas.30-end,damageTakenDiffPerMinDeltas.20-30,highestAchievedSeasonTier
50,0,3209840618,NA1,1574040270719,1059,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,8,3209932021,NA1,1574047047074,2134,420,9.22.296.5720,CLASSIC,MATCHED_GAME,200,...,309.7,2.60,0.50,-62.40,248.75,1584.8,982.7,88.2,-143.85,NaN
146,6,3210657299,NA1,1574133610052,1740,420,9.22.296.5720,CLASSIC,MATCHED_GAME,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,6,3202158853,NA1,1573423836077,1825,420,9.22.296.5720,CLASSIC,MATCHED_GAME,200,...,344.5,NaN,1.20,NaN,212.80,NaN,508.0,NaN,-261.50,NaN
381,1,3203229001,NA1,1573494043510,1308,420,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440550,0,3210680168,NA1,1574131480816,1130,440,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440562,2,3210665497,NA1,1574133038990,2530,440,9.22.296.5720,CLASSIC,MATCHED_GAME,100,...,230.7,0.85,-1.45,-10.85,-48.70,969.1,1228.4,514.1,590.80,NaN
440842,2,3180638050,NA1,1571628340992,2011,420,9.20.292.2452,CLASSIC,MATCHED_GAME,100,...,281.6,NaN,-2.00,NaN,-53.80,NaN,1075.5,NaN,11.30,NaN
440889,9,3203811143,NA1,1573531386272,1389,400,9.22.296.5720,CLASSIC,MATCHED_GAME,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440969,9,3210987294,NA1,1574174245511,1782,420,9.22.296.5720,CLASSIC,MATCHED_GAME,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def get_top_item(item_counts):
    index_ = str(list(item_counts.values()).index(max(list(item_counts.values()))))
    item_counts[list(item_counts.keys())[int(index_)]] = -1
    return str(list(item_counts.keys())[int(index_)])

def top_3(variable_list, variable):
    var_set = set(variable_list)
    var_counts = dict()
    for entry in var_set:
        var_counts[entry] = variable_list.count(entry)
        
    top_3_entries = []
    for i in range(4):
        top_3_entries.append(get_top_item(var_counts))
        
    # For when the player did not select an item
    if '0' in top_3_entries:
        #items = sorted(items)
        top_3_entries.pop(top_3_entries.index("0"))
    if variable == 'Allies':
        top_3_entries.pop(0)
    return top_3_entries #top_3_df
def get_champ_stats(champion, data):

    champion_difficulty = data[(data['key'] == champion.iloc[0]['championId_y'])]['info.difficulty']
    champion_difficulty = int(pd.DataFrame(champion_difficulty).iloc[0][0])
    
    # When we are only concerned with games that the champion won
    champion_wins = champion[(champion['win_y'] == True)]
#     print("Champion Difficulty")
#     print(champion_difficulty)
    
    # Top Items
    item0 = list(champion_wins['item0'])
    item1 = list(champion_wins['item1'])
    item2 = list(champion_wins['item2'])
    item3 = list(champion_wins['item3'])
    item4 = list(champion_wins['item4'])
    item5 = list(champion_wins['item5'])
    item6 = list(champion_wins['item6'])
    
    # Top Perks
    perk0 = list(champion_wins['perk0'])
    perk1 = list(champion_wins['perk1'])
    perk2 = list(champion_wins['perk2'])
    perk3 = list(champion_wins['perk3'])
    perk4 = list(champion_wins['perk4'])
    perk5 = list(champion_wins['perk5'])
    
    # Top Spells
    spell_1 = list(champion_wins['spell1Id'])
    spell_2 = list(champion_wins['spell2Id'])
    
    all_perks = perk0 + perk1 + perk2 + perk3 + perk4 + perk5
    all_items = item0 + item1 + item2 + item3 +item4 + item5 + item5
    all_spells = spell_1 + spell_2
    

    
    all_winning_games =  get_WL_games(champion.iloc[0]['championId_y'],match_data, True) # This is all the winning games 
    team_mates = all_winning_games[(all_winning_games['win_y'] == True)] # DataFrame where we get all the champions that won with the selected champion
    all_champs = list(team_mates['championId_y']) # This is all of the champions

    

    counters = all_winning_games[(all_winning_games['win_y'] == False)]
    all_counters = list(counters['championId_y'])
    
    runes = top_3(all_perks, "Runes")
    items = top_3(all_items, "Items")
    spells= top_3(all_spells, "Spells")
    allies = top_3(all_champs, "Allies")
    top_counters = top_3(all_counters, "Counters")
    top_stats = pd.DataFrame()
    for i in range(3):
        current_champ_stats = pd.DataFrame([[runes[i], items[i], spells[i], allies[i], top_counters[i]]], columns=["Runes"+str(i), "Items"+str(i), "Spells"+str(i), "Allies"+str(i), "Counters"+str(i)])
        top_stats = pd.concat([top_stats, current_champ_stats], axis = 1)
    
    
    return top_stats
    
def get_champion_games(champ_id, data):
    games = data[(data['championId_y'] == champ_id)]['gameId']
    games = list(games)
    matches = pd.DataFrame()
    for game in games:
        match_data = data[(data['gameId'] == game)]
        matches = pd.concat([match_data, matches], axis=0)
    return matches

def get_WL_games(champ_id, data, status):
    games = data[(data['championId_y'] == champ_id) & (data['win_y'] == status)]['gameId']
    games = list(games)
    matches = pd.DataFrame()
    for game in games:
        match_data = data[(data['gameId'] == game)]
        matches = pd.concat([match_data, matches], axis=0)
    return matches

In [7]:
champion_data = pd.read_csv("champions.csv")
champion_ids = sorted(list(champion_data['key']))

champ_df = match_data[(match_data['championId_y']==2)]

#get_champ_stats(champ_df, champion_data)

In [8]:
champion_ids = list(champion_data['key'])
champion_ids

[266,
 103,
 84,
 12,
 32,
 34,
 1,
 22,
 136,
 268,
 432,
 53,
 63,
 201,
 51,
 164,
 69,
 31,
 42,
 122,
 131,
 119,
 36,
 245,
 60,
 28,
 81,
 9,
 114,
 105,
 3,
 41,
 86,
 150,
 79,
 104,
 120,
 74,
 420,
 39,
 427,
 40,
 59,
 24,
 126,
 202,
 222,
 145,
 429,
 43,
 30,
 38,
 55,
 10,
 141,
 85,
 121,
 203,
 240,
 96,
 7,
 64,
 89,
 127,
 236,
 117,
 99,
 54,
 90,
 57,
 11,
 21,
 62,
 82,
 25,
 267,
 75,
 111,
 518,
 76,
 56,
 20,
 2,
 61,
 516,
 80,
 78,
 555,
 246,
 133,
 497,
 33,
 421,
 58,
 107,
 92,
 68,
 13,
 113,
 235,
 35,
 98,
 102,
 27,
 14,
 15,
 72,
 37,
 16,
 50,
 517,
 134,
 223,
 163,
 91,
 44,
 17,
 412,
 18,
 48,
 23,
 4,
 29,
 77,
 6,
 110,
 67,
 45,
 161,
 254,
 112,
 8,
 106,
 19,
 498,
 101,
 5,
 157,
 83,
 350,
 154,
 238,
 115,
 26,
 142,
 143]

In [9]:
stats_df = pd.DataFrame()
i = 0
for champion in champion_ids:
    try:
        entire_champ_df = pd.DataFrame()
        champ_df = match_data[(match_data['championId_y']==champion)]
        champ_stats = get_champ_stats(champ_df, champion_data)
        entire_champ_df = pd.concat([champ_stats, entire_champ_df])
        champ_id = pd.DataFrame([[champion]], columns=['id'])
        entire_champ_df = pd.concat([champ_id, entire_champ_df], axis= 1)
        stats_df = pd.concat([entire_champ_df, stats_df], axis=0)
        i += 1
        print(i/len(champion_ids))
    except KeyError:
        print("Dont have champion: " + str(champion) )
stats_df.to_csv(path_or_buf='champion_stats.csv')
stats_df

0.00684931506849315
0.0136986301369863
0.02054794520547945
0.0273972602739726
0.03424657534246575
0.0410958904109589
0.04794520547945205
0.0547945205479452
0.06164383561643835
0.0684931506849315
0.07534246575342465
0.0821917808219178
0.08904109589041095
0.0958904109589041
0.10273972602739725
0.1095890410958904
0.11643835616438356
0.1232876712328767
0.13013698630136986
0.136986301369863
0.14383561643835616
0.1506849315068493
0.15753424657534246
0.1643835616438356
0.17123287671232876
0.1780821917808219
0.18493150684931506
0.1917808219178082
0.19863013698630136
0.2054794520547945
0.21232876712328766
0.2191780821917808
0.22602739726027396
0.2328767123287671
0.23972602739726026
0.2465753424657534
0.2534246575342466
0.2602739726027397
0.2671232876712329
0.273972602739726
0.2808219178082192
0.2876712328767123
0.2945205479452055
0.3013698630136986
0.3082191780821918
0.3150684931506849
0.3219178082191781
0.3287671232876712
0.3356164383561644
0.3424657534246575
0.3493150684931507
0.3561643835616438
0.363013698630137
0.3698630136986301
0.3767123287671233
0.3835616438356164
0.3904109589041096
0.3972602739726027
0.4041095890410959
0.410958904109589
0.4178082191780822
0.4246575342465753
0.4315068493150685
0.4383561643835616
0.4452054794520548
0.4520547945205479
0.4589041095890411
0.4657534246575342
0.4726027397260274
0.4794520547945205
0.4863013698630137
0.4931506849315068
0.5
0.5068493150684932
0.5136986301369864
0.5205479452054794
0.5273972602739726
0.5342465753424658
0.541095890410959
0.547945205479452
0.5547945205479452
0.5616438356164384
0.5684931506849316
0.5753424657534246
0.5821917808219178
0.589041095890411
0.5958904109589042
0.6027397260273972
0.6095890410958904
0.6164383561643836
0.6232876712328768
0.6301369863013698
0.636986301369863
0.6438356164383562
0.6506849315068494
0.6575342465753424
0.6643835616438356
0.6712328767123288
0.678082191780822
0.684931506849315
0.6917808219178082
0.6986301369863014
0.7054794520547946
0.7123287671232876
0.7191780821917808
0.726027397260274
0.7328767123287672
0.7397260273972602
0.7465753424657534
0.7534246575342466
0.7602739726027398
0.7671232876712328
0.773972602739726
0.7808219178082192
0.7876712328767124
0.7945205479452054
0.8013698630136986
0.8082191780821918
0.815068493150685
0.821917808219178
0.8287671232876712
0.8356164383561644
0.8424657534246576
0.8493150684931506
0.8561643835616438
0.863013698630137
0.8698630136986302
0.8767123287671232
0.8835616438356164
0.8904109589041096
0.8972602739726028
0.9041095890410958
0.910958904109589
0.9178082191780822
0.9246575342465754
0.9315068493150684
0.9383561643835616
0.9452054794520548
0.952054794520548
0.958904109589041
0.9657534246575342
0.9726027397260274
0.9794520547945206
0.9863013698630136
0.9931506849315068
1.0

,id,Runes0,Items0,Spells0,Allies0,Counters0,Runes1,Items1,Spells1,Allies1,Counters1,Runes2,Items2,Spells2,Allies2,Counters2
0,143,8226,3020,4,245,245,8237,3151,14,51,157,8229,3098,3,157,222
0,142,8138,3020,4,22,22,8135,3285,14,235,235,8112,1056,21,25,84
0,26,8226,3020,4,145,145,8210,3098,14,51,51,8347,3092,3,81,81
0,115,8226,3020,4,51,51,8229,3285,12,22,145,8210,1056,21,145,99
0,238,8112,3147,4,235,145,8138,3142,14,22,235,8143,3111,12,145,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,32,8439,1401,4,51,51,8451,3047,11,235,157,8463,3001,14,22,145
0,12,8439,3117,4,145,145,8446,3401,14,222,235,8451,3109,3,157,555
0,84,8014,3146,4,145,145,8135,3020,14,157,157,9111,3157,12,235,245
0,103,8112,3020,4,412,412,8138,3285,14,51,202,8226,1056,12,145,51
0,266,9111,3071,4,51,51,8010,3812,12,145,157,8135,3047,14,412,64

In [23]:
stats_df
champion_data2 = champion_data
stats_df = stats_df.rename(columns={"id": "key"})

In [25]:
new_champion = pd.merge(champion_data, stats_df, on='key', how='outer')
new_champion.to_csv('new_champion.csv')